body{
     font-family:Arial, Helvetica, sans-serif ;
     margin: 0;
     padding: 0;

}

header{
    background: #222;
    color: white;
    text-align: center;
    padding: 50px 0;

}
section{
    margin:  20;
     padding: 20;

    background: white;
    border-radius: 10px;


}
h2{
    color: #333;

}
ul{
    list-style: none;
    padding: 0;

}

ul li{
     margin: 5px o;
     padding: 8px;

    background: white;
}
footer{
    text-align: center;
     padding: 15px;
     background: #222;
     color: white;
}